.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo {
	text-align: center;
}

.logo img {
	width: 15%;
	height: auto;
	margin-top: 20px;
}

.form-login {
	width: 40%;
	margin: 30px auto;
	padding: 0 5%;
	box-shadow: 0px 0px 15px 5px rgba(212,212,212,0.75);
	-webkit-box-shadow: 0px 0px 15px 5px rgba(212,212,212,0.75);
	-moz-box-shadow: 0px 0px 15px 5px rgba(212,212,212,0.75);
}

.title h1 {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin: 20px 0;
	color: #333;
	text-align: center;
}

.email {
	margin-top: -5px;
}

.password {
	margin-top: -5px;
}

.btn-login {
	background-color: #0091ff;
	border-radius: 10px;
	height: 50px;
	margin-top: -5px;
}

.btn-login:hover {
	background-color: #41adff;
	border-radius: 10px;
	height: 50px;
}

.btn-login span {
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.masuk-dengan {
	margin-top: 15px;
	width: 100%;
	height: 16.5px;
}

.login-with {
	display: flex;
}

.btn-facebook {
	color: #333;
	background-color: white;
	border: 1px solid #9E949C;
	border-radius: 10px;
	width: 50%;
	height: auto;
	margin-right: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.btn-facebook:hover {
	color: #333;
	background-color: rgb(236, 236, 236);
	border: 1px solid #9E949C;
}

.btn-facebook img {
	margin-bottom: 2px;
}

.btn-facebook p {
	display: inline;
	padding-bottom: 5px;
}

.btn-google {
	color: #333;
	background-color: white;
	border: 1px solid #9E949C;
	border-radius: 10px;
	width: 50%;
	height: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.btn-google:hover {
	color: #333;
	background-color: rgb(236, 236, 236);
	border: 1px solid #9E949C;
}

.btn-google img {
	margin-bottom: 4px;
}

.form-login .text-satu p {
	font-size: 14px;
	color: #333;
}

.form-login .text-satu a {
	font-size: 14px;
	color: #0091ff;
}

/* Style For Registration Page */

.ilus-form {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.ilus {
	font-family: "Roboto", sans-serif;
}

.ilus p {
	font-weight: 400;
	font-size: 17px;
	margin-top: 10px;
}

.ilus .text-satu {
	font-size: 12px;
	margin-top: -10px;
	margin-left: 27px;
}

.form {
	width: 45%;
	height: auto;
	padding: 0 5%;
	border: 1px solid #B7B7B7;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.form .text-dua {
	color: #333;
}

.form .text-dua h1 {
	margin-top: 20px;
	font-size: 28px;
}

.form .text-dua p {
	font-size: 12px;
}

.form .text-dua a {
	font-size: 14px;
	color: #0091ff;
}

.form .text-tiga p {
	font-size: 14px;
	color: #333;
}

.form .text-tiga a {
	font-size: 14px;
	color: #0091ff;
}

.copyright p {
	margin-top: 5%;
	color: #0091ff;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
}
