/* .aa-primary-btn {
	font-size: 16px;
	padding: 10px 30px;
	border: 1px solid #e9e9e9;
	margin-top: 10px;
	display: inline-block;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.aa-primary-btn:hover,
.aa-primary-btn:focus {
	color: #0091ff;
	text-decoration: none;
	border-color: #0091ff;
}

.aa-primary-btn span {
	margin-right: 5px;
}

.aa-secondary-btn {
	background-color: #fff;
	color: #0091ff;
	font-size: 16px;
	padding: 10px 22px;
	margin-top: 10px;
	display: inline-block;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms--border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.aa-secondary-btn:hover,
.aa-secondary-btn:focus {
	background-color: #0091ff;
	text-decoration: none;
	color: #fff;
}

.aa-browse-btn {
	background-color: #0091ff;
	display: inline-block;
	font-size: 16px;
	padding: 12px 18px;
	color: #fff;
	border: 1px solid #0091ff;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.aa-browse-btn span {
	margin-left: 5px;
}

.aa-browse-btn:hover,
.aa-browse-btn:focus {
	background-color: #fff;
	color: #0091ff;
}

.aa-add-to-cart-btn {
	border: 1px solid #ccc;
	color: #555;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-top: 5px;
	padding: 10px 15px;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

.aa-add-to-cart-btn span {
	margin-right: 5px;
}

.aa-add-to-cart-btn:hover,
.aa-add-to-cart-btn:focus {
	color: #0091ff;
	border-color: #0091ff;
}

.aa-filter-btn {
	background-color: #ff6666;
	border: 1px solid #ff6666;
	color: #fff;
	font-size: 15px;
	height: 30px;
	width: 80px;
}

.aa-cart-view-btn {
	float: right;
	background-color: #0091ff;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.aa-cart-view-btn:hover {
	background-color: #000;
	color: #fff;
} */

/* LAYOUTS - Page layout styles */
/*==================
 HEADER SECTION
====================*/
/*---- Cartbox transition ----*/
@-webkit-keyframes cartbox-transition {
	33.33% {
		top: -13px;
	}

	66.66% {
		top: -17px;
	}

	100% {
		top: -15px;
	}
}

@keyframes cartbox-transition {
	33.33% {
		top: -13px;
	}

	66.66% {
		top: -17px;
	}

	100% {
		top: -15px;
	}
}

/*==================
 NAVBAR SECTION
====================*/
/* .navbar-nav {
	display: inline-block;
	margin: 0;
	text-align: center;
	width: 100%;
}

.navbar-nav li a {
	color: #5f5f5fde;
	font-size: 12px;
	padding: 3px 15px 3px 3px;
} */

/* ALL SECTION */

/*Preloader*/
/* @-webkit-keyframes loader-two-before-transition {
	50% {
		left: -154px;
	}

	100% {
		left: -97px;
	}
}

@keyframes loader-two-before-transition {
	50% {
		left: -154px;
	}

	100% {
		left: -97px;
	}
}

@-webkit-keyframes loader-two-after-transition {
	50% {
		left: 54px;
	}

	100% {
		left: -4px;
	}
}

@keyframes loader-two-after-transition {
	50% {
		left: 54px;
	}

	100% {
		left: -4px;
	}
} */


/*==================
	BANNER SECTION
====================*/
/* #aa-banner {
	display: inline;
	float: left;
	width: 100%;
}

#aa-banner .aa-banner-area {
	display: inline;
	float: left;
	width: 100%;
}

#aa-banner .aa-banner-area a {
	display: block;
}

#aa-banner .aa-banner-area a img {
	max-width: 100%;
} */

/*==================
	POPULAR SECTION
====================*/
#aa-popular-category {
	display: inline;
	float: left;
	padding: 25px 0;
	width: 100%;
}

#aa-popular-category .aa-popular-category-area {
	display: inline;
	float: left;
	width: 100%;
	/* bootstrap hack:fix content width inside hidden tabs */
	/* bootstrap hack end */
}

#aa-popular-category .aa-popular-category-area .tab-content>.tab-pane:not(.active),
#aa-popular-category .aa-popular-category-area .pill-content>.pill-pane:not(.active) {
	display: block;
	height: 0;
	overflow-y: hidden;
}

#aa-popular-category .aa-popular-category-area #popular,
#aa-popular-category .aa-popular-category-area #featured,
#aa-popular-category .aa-popular-category-area #latest {
	text-align: center;
}

.slick-arrow {
	height: 30px;
	width: 30px;
}

.slick-prev,
.slick-next {
	background-color: #0091ff;
}

/*==================
 CLIENT BRAND SECTION
====================*/
#aa-client-brand {
	background-color: #333;
	display: inline;
	float: left;
	padding: 40px 0;
	width: 100%;
}

#aa-client-brand .aa-client-brand-area {
	display: inline;
	float: left;
	width: 100%;
}

#aa-client-brand .aa-client-brand-area .aa-client-brand-slider {
	margin-left: -35px;
}

#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li {
	background: #fff none repeat scroll 0 0;
	float: left;
	margin-left: 35px;
	text-align: center;
	width: 17%;
}

#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li a {
	display: block;
	padding: 20px 0;
}

#aa-client-brand .aa-client-brand-area .aa-client-brand-slider li a img {
	display: inline-block;
	max-width: 100%;
}

#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-prev,
#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-next {
	top: 44%;
}

#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-prev {
	left: -15px;
}

#aa-client-brand .aa-client-brand-area .aa-client-brand-slider .slick-next {
	right: -45px;
}

#aa-client-brand .aa-client-brand-area .slick-dots {
	display: none !important;
}

/*==================
 PRODUCT CATEGORY SECTION
====================*/
#aa-catg-head-banner {
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#aa-catg-head-banner .aa-catg-head-banner-area {
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}

#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content {
	display: inline-block;
	padding: 10% 0;
	text-align: center;
	width: 100%;
}

#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content h2 {
	color: #fff;
	font-size: 35px;
	font-weight: bold;
	padding: 0;
	text-transform: uppercase;
}

#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content .breadcrumb {
	border-radius: 0;
	background-color: transparent;
}

#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content .breadcrumb .active {
	color: #0091ff;
}

#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content .breadcrumb a {
	color: #fff;
}

#aa-product-category {
	display: inline;
	float: left;
	width: 100%;
}

#aa-product-category .aa-sidebar {
	display: inline;
	float: left;
	width: 100%;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget {
	display: inline;
	float: left;
	width: 100%;
	/* category */
	/* tags */
	/* price range	*/
	/* price by color */
}

#aa-product-category .aa-sidebar .aa-sidebar-widget h3 {
	color: #0091ff;
	border-bottom: 1px solid #0091ff;
	padding-bottom: 10px;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-catg-nav li a {
	display: block;
	padding: 4px 0;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-catg-nav li a:hover,
#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-catg-nav li a:focus {
	color: #0091ff;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .tag-cloud {
	display: block;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .tag-cloud a {
	background-color: #f8f8f8;
	display: inline-block;
	font-size: 15px;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
	margin-right: 5px;
	padding: 5px 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .tag-cloud a:hover,
#aa-product-category .aa-sidebar .aa-sidebar-widget .tag-cloud a:focus {
	color: #fff;
	background-color: #0091ff;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-sidebar-price-range {
	display: inline;
	text-align: center;
	width: 100%;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-sidebar-price-range .noUi-connect {
	background: #0091ff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-sidebar-price-range span {
	border: 1px solid #e8e7e6;
	display: inline-block;
	font-size: 14px;
	height: 30px;
	margin-right: 10px;
	margin-top: 20px;
	padding: 4px 10px;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag {
	display: block;
	width: 100%;
	margin-top: 15px;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag a {
	display: inline-block;
	height: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 30px;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-red {
	background-color: #FF0000;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-green {
	background-color: #008000;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-yellow {
	background-color: #FFFF00;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-pink {
	background-color: #FFC0CB;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-purple {
	background-color: #800080;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-blue {
	background-color: #0000FF;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-orange {
	background-color: #ffa500;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-gray {
	background-color: #bebebe;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-black {
	background-color: #000;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-white {
	background-color: #FFF;
	border: 1px solid #ccc;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-cyan {
	background-color: #00ffff;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-olive {
	background-color: #00ffff;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-color-tag .aa-color-orchid {
	background-color: #da70d6;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 20px;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li {
	display: block;
	float: left;
	margin-bottom: 15px;
	padding-bottom: 15px;
	width: 100%;
	position: relative;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li:last-child {
	border: none;
	margin-bottom: 0px;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-img {
	display: block;
	float: left;
	height: 95px;
	width: 100px;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-img img {
	width: 100%;
	height: 100%;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-info {
	display: block;
	float: left;
	margin-left: 15px;
	width: 55%;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-info h4 {
	font-size: 14px;
	color: #333;
	margin-bottom: 20px;
	margin-top: 0;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-info h4 a {
	color: #333;
	letter-spacing: 0.5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-info h4 a:hover,
#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-info h4 a:focus {
	color: #0091ff;
}

#aa-product-category .aa-sidebar .aa-sidebar-widget .aa-recently-views ul li .aa-cartbox-info p {
	font-size: 16px;
}

#aa-product-category .aa-product-catg-content {
	display: inline;
	float: left;
	padding: 30px 0 0;
	width: 100%;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head {
	background-color: #f3f3f3;
	display: inline;
	float: left;
	padding: 10px 15px;
	width: 100%;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left {
	float: left;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left label {
	margin-bottom: 0;
	margin-right: 10px;
	font-weight: normal;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left .aa-sort-form {
	float: left;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left .aa-sort-form select {
	border: 1px solid #ccc;
	text-align: center;
	width: 150px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left .aa-sort-form select option {
	padding: 4px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left .aa-show-form {
	float: left;
	margin-left: 25px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left .aa-show-form select {
	border: 1px solid #ccc;
	text-align: center;
	width: 80px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-left .aa-show-form select option {
	padding: 4px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-right {
	float: right;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-right a {
	color: #555;
	display: inline-block;
	font-size: 20px;
	margin-left: 5px;
	margin-top: 3px;
	padding: 0;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-right a:hover,
#aa-product-category .aa-product-catg-content .aa-product-catg-head .aa-product-catg-head-right a:focus {
	color: #0091ff;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 30px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .aa-product-catg {
	margin-left: -30px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .aa-product-catg li {
	margin: 0 0 20px 30px;
	width: 29.916%;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .aa-product-catg li .aa-product-descrip {
	display: none;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .list li {
	width: 100%;
	height: 345px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .aa-product-img {
	float: left;
	width: 35%;
	margin-right: 40px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .aa-add-card-btn {
	bottom: 35%;
	left: 40%;
	font-size: 14px;
	-webkit-transform: scale(1);
	transform: scale(1);
	width: 150px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure figcaption {
	text-align: left;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .list li figure .aa-product-descrip {
	display: block;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-body .list li .aa-product-hvr-content {
	width: 35%;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-pagination {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination {
	border: 1px solid #ccc;
	border-radius: 0;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li:first-child a,
#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li:first-child span {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li:last-child a,
#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li:last-child span {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li a,
#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li span {
	border: none;
	color: #888;
	margin-left: 0px;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li a:hover,
#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li span:hover {
	color: #0091ff;
	background-color: #fff;
}

#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li a:focus,
#aa-product-category .aa-product-catg-content .aa-product-catg-pagination .pagination li span:focus {
	color: #fff;
	background-color: #0091ff;
}

/*==================
 PRODUCT DETAILS SECTION
====================*/
#aa-product-details {
	display: inline;
	float: left;
	width: 100%;
}

#aa-product-details .aa-product-details-area {
	display: inline;
	float: left;
	padding: 30px 0 0;
	width: 100%;
}

#aa-product-details .aa-product-details-area .aa-product-details-content {
	margin: 0 auto;
	width: 80%;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-slider {
	background-color: #f8f8f8;
	padding: 10px;
	text-align: center;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content {
	padding-bottom: 10px;
	padding-right: 10px;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-view-size a {
	border: 1px solid #ddd;
	display: inline-block;
	font-size: 14px;
	letter-spacing: 0.5px;
	margin-bottom: 5px;
	margin-right: 8px;
	padding: 5px 10px;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity {
	margin-top: 10px;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity form {
	display: inline-block;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity form select {
	height: 25px;
	width: 40px;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity .aa-prod-category {
	display: inline-block;
	margin-left: 15px;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-quantity .aa-prod-category a {
	color: #ff6666;
	font-size: 14px;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-view-bottom {
	border-top: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 10px;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-prod-view-bottom a {
	margin-right: 10px;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag a {
	display: inline-block;
	height: 20px;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 30px;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag .aa-color-green {
	background-color: #008000;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag .aa-color-yellow {
	background-color: #ffff00;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag .aa-color-pink {
	background-color: #ffc0cb;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag .aa-color-black {
	background-color: #000;
}

#aa-product-details .aa-product-details-area .aa-product-details-content .aa-product-view-content .aa-color-tag .aa-color-white {
	background-color: #fff;
	border: 1px solid #ccc;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom {
	display: inline;
	float: left;
	width: 100%;
	margin-top: 20px;
	border-top: 1px solid #ccc;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs {
	text-align: center;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li {
	display: inline-block;
	float: none;
	margin-bottom: 0px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li a {
	border-radius: 0;
	border: none;
	font-size: 18px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li a:hover,
#aa-product-details .aa-product-details-area .aa-product-details-bottom .nav-tabs li a:focus {
	background-color: transparent;
	color: #0091ff;
	border: none;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom #description {
	padding: 20px 10px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom #description ul {
	margin-bottom: 10px;
	padding-left: 25px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom #description ul li {
	color: #555;
	list-style: outside none square;
	margin-top: 5px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area {
	display: inline;
	float: left;
	padding: 20px 0;
	width: 100%;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area>h4 {
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li {
	margin-bottom: 20px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-object {
	display: block;
	height: 60px;
	width: 60px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-body {
	border: 1px solid #ccc;
	padding: 10px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-body .media-heading {
	font-size: 16px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-product-review-area .aa-review-nav li .media-body .aa-product-rating span {
	color: #ff6600;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form {
	margin-top: 20px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form label {
	color: #555;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form textarea {
	height: 200px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form input {
	height: 45px;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form .aa-review-submit {
	border-radius: 0;
	font-size: 18px;
	height: 45px;
	text-transform: uppercase;
	width: 100%;
	background-color: #0091ff;
	color: #fff;
	border-color: #0091ff;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form .aa-review-submit:hover {
	background-color: #000;
	border-color: #000;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form .form-control {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
}

#aa-product-details .aa-product-details-area .aa-product-details-bottom .aa-review-form .form-control:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #0091ff;
}

#aa-product-details .aa-product-details-area .aa-product-related-item {
	display: inline;
	float: left;
	width: 100%;
}

#aa-product-details .aa-product-details-area .aa-product-related-item h3 {
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	padding-bottom: 20px;
	text-align: center;
}

#aa-product-details .aa-product-details-area .aa-product-related-item .slick-prev,
#aa-product-details .aa-product-details-area .aa-product-related-item .slick-next {
	top: -65px;
}

#aa-product-details .aa-product-details-area .aa-product-related-item .slick-dots {
	display: none !important;
}

/*==================
 CART VIEW SECTION
====================*/
#cart-view {
	display: inline;
	float: left;
	width: 100%;
}

#cart-view .cart-view-area {
	display: inline;
	float: left;
	padding-top: 50px;
	width: 100%;
}

#cart-view .cart-view-area .cart-view-table {
	background-color: #F5F5F5;
	display: inline;
	float: left;
	width: 100%;
	padding: 30px;
	min-height: 350px;
}

#cart-view .cart-view-area .cart-view-table .table {
	border: 1px solid #ddd;
}

#cart-view .cart-view-area .cart-view-table .table thead tr th {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #555;
	font-size: 18px;
	padding: 20px 0;
	text-align: center;
}

#cart-view .cart-view-area .cart-view-table .table tbody tr td {
	vertical-align: middle;
	border-right: 1px solid #ccc;
	text-align: center;
}

#cart-view .cart-view-area .cart-view-table .table tbody tr td .remove {
	color: #ff0000;
	padding: 5px;
}

#cart-view .cart-view-area .cart-view-table .table tbody tr td .remove:hover {
	color: #555;
}

#cart-view .cart-view-area .cart-view-table .table tbody tr td img {
	width: 80px;
	height: 100px;
}

#cart-view .cart-view-area .cart-view-table .table tbody tr td .aa-cart-title {
	color: #0091ff;
}

#cart-view .cart-view-area .cart-view-table .table tbody tr td .aa-cart-title:hover {
	color: #0091ff;
}

#cart-view .cart-view-area .cart-view-table .table tbody tr td .aa-cart-quantity {
	padding: 5px;
	width: 50px;
}

#cart-view .cart-view-area .cart-view-table .table tbody tr .aa-cart-view-bottom {
	padding: 50px;
}

#cart-view .cart-view-area .cart-view-table .table tbody tr .aa-cart-view-bottom .aa-cart-coupon {
	float: left;
}

#cart-view .cart-view-area .cart-view-table .table tbody tr .aa-cart-view-bottom .aa-cart-coupon .aa-coupon-code {
	border: 1px solid #e5e5e5;
	color: #505050;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 25px;
	margin-right: 20px;
	min-width: 250px;
	padding: 15px 30px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

#cart-view .cart-view-area .cart-view-table .cart-view-total {
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

#cart-view .cart-view-area .cart-view-table .cart-view-total h4 {
	color: #555;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 15px;
}

#cart-view .cart-view-area .cart-view-table .cart-view-total .aa-totals-table {
	border: 1px solid #ccc;
	width: 100%;
}

#cart-view .cart-view-area .cart-view-table .cart-view-total .aa-totals-table tr th {
	padding: 10px;
	text-align: center;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#cart-view .cart-view-area .cart-view-table .cart-view-total .aa-totals-table tr td {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 10px;
}

#cart-view .cart-view-area .cart-view-table .cart-view-total a {
	margin-top: 30px;
	display: inline-block;
	float: none;
}

/*==================
 CHECKOUT PAGE
====================*/
#checkout {
	display: inline;
	float: left;
	width: 100%;
}

#checkout .checkout-area {
	display: inline;
	float: left;
	padding: 50px 0;
	width: 100%;
}

#checkout .checkout-area .checkout-left {
	display: inline;
	float: left;
	width: 100%;
}

#checkout .checkout-area .checkout-left .panel-group .panel-default {
	border-radius: 0;
}

#checkout .checkout-area .checkout-left .panel-group .panel-default .panel-heading {
	background-color: transparent;
	padding: 0;
}

#checkout .checkout-area .checkout-left .panel-group .panel-default .panel-heading .panel-title {
	font-size: 18px;
	padding: 20px 15px;
}

#checkout .checkout-area .checkout-left .panel-group .panel-default .panel-heading .panel-title a {
	display: block;
	color: #0091ff;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-coupon .aa-coupon-code {
	border: 1px solid #e5e5e5;
	color: #505050;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	margin-right: 20px;
	min-width: 250px;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-coupon input[type="submit"] {
	font-size: 14px;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-login input[type="text"],
#checkout .checkout-area .checkout-left .panel-group .aa-checkout-login input[type="password"] {
	border: 1px solid #ccc;
	font-size: 14px;
	height: 40px;
	margin-bottom: 15px;
	padding: 10px;
	width: 100%;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-login label {
	cursor: pointer;
	font-weight: normal;
	margin-top: 8px;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-login input[type="checkbox"] {
	margin-top: 5px;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-login button {
	font-size: 14px;
	padding: 8px 20px;
	margin-right: 5px;
	float: left;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-login .aa-lost-password {
	color: #555;
	float: left;
	margin-top: 10px;
	width: 100%;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-login .aa-lost-password a {
	color: #555;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-billaddress .aa-checkout-single-bill {
	display: inline;
	width: 100%;
	margin-bottom: 15px;
	float: left;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-billaddress .aa-checkout-single-bill input {
	border: 1px solid #ccc;
	height: 40px;
	padding: 10px;
	width: 100%;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-billaddress .aa-checkout-single-bill textarea {
	border: 1px solid #ccc;
	color: #999;
	height: 150px;
	padding: 10px;
	width: 100%;
}

#checkout .checkout-area .checkout-left .panel-group .aa-checkout-billaddress .aa-checkout-single-bill select {
	border: 1px solid #ccc;
	color: #999;
	height: 40px;
	padding: 10px;
	width: 100%;
}

#checkout .checkout-area .checkout-right {
	display: inline;
	float: left;
	width: 100%;
}

#checkout .checkout-area .checkout-right h4 {
	margin-top: 0px;
	color: #0091ff;
}

#checkout .checkout-area .checkout-right .aa-order-summary-area {
	margin-bottom: 30px;
}

#checkout .checkout-area .checkout-right .aa-order-summary-area .table {
	border: 1px solid #ccc;
}

#checkout .checkout-area .checkout-right .aa-order-summary-area .table thead tr th {
	border: 1px solid #ccc;
	text-align: center;
}

#checkout .checkout-area .checkout-right .aa-order-summary-area .table tbody tr td {
	border-right: 1px solid #ccc;
	text-align: center;
}

#checkout .checkout-area .checkout-right .aa-order-summary-area .table tbody tr td strong {
	margin-left: 5px;
	font-size: 14px;
}

#checkout .checkout-area .checkout-right .aa-order-summary-area .table tfoot tr th {
	border-right: 1px solid #ccc;
	text-align: center;
}

#checkout .checkout-area .checkout-right .aa-order-summary-area .table tfoot tr td {
	text-align: center;
}

#checkout .checkout-area .checkout-right .aa-payment-method {
	border: 1px solid #ccc;
	padding: 15px;
}

#checkout .checkout-area .checkout-right .aa-payment-method label {
	width: 100%;
	font-weight: normal;
}

#checkout .checkout-area .checkout-right .aa-payment-method img {
	margin-top: -10px;
	width: 80%;
}

#checkout .checkout-area .checkout-right .aa-payment-method input[type="submit"] {
	display: block;
	margin-top: 15px;
	padding: 8px 12px;
	width: 100%;
}

/*==================
 MY ACCOUNT  PAGE
====================*/
#aa-myaccount {
	display: inline;
	float: left;
	width: 100%;
}

#aa-myaccount .aa-myaccount-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

#aa-myaccount .aa-myaccount-area h4 {
	border-bottom: 1px solid #ccc;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

#aa-myaccount .aa-myaccount-area .aa-myaccount-login {
	display: inline;
	float: left;
	width: 100%;
}

#aa-myaccount .aa-myaccount-area .aa-myaccount-register {
	display: inline;
	float: left;
	width: 100%;
}

/*---- Login form ----*/
.aa-login-form input[type="text"],
.aa-login-form input[type="password"] {
	border: 1px solid #ccc;
	font-size: 16px;
	height: 40px;
	margin-bottom: 15px;
	padding: 10px;
	width: 100%;
}

.aa-login-form label {
	font-weight: normal;
	margin-top: 8px;
}

.aa-login-form label span {
	color: red;
}

.aa-login-form .rememberme {
	cursor: pointer;
	margin-top: 18px;
}

.aa-login-form input[type="checkbox"] {
	margin-top: 5px;
}

.aa-login-form button {
	font-size: 14px;
	padding: 8px 20px;
	margin-right: 5px;
	margin-top: 10px;
	float: left;
}

.aa-login-form .aa-lost-password {
	color: #555;
	margin-top: 10px;
	width: 100%;
}

.aa-login-form .aa-lost-password a {
	color: #555;
}

/*---- LOGIN MODAL ----*/
#login-modal .modal-content {
	border-radius: 0;
}

#login-modal .modal-dialog {
	margin: 100px auto;
	width: 320px;
}

#login-modal .modal-dialog h4 {
	border-bottom: 1px solid #ccc;
	color: #666;
	font-weight: bold;
	padding-bottom: 10px;
}

#login-modal .modal-dialog .aa-register-now {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	font-size: 14px;
	padding-top: 10px;
}

#login-modal .modal-dialog .aa-register-now a {
	color: #0091ff;
	margin-left: 5px;
}

/*==================
 ERROR  PAGE
====================*/
#aa-error {
	display: inline;
	float: left;
	width: 100%;
}

#aa-error .aa-error-area {
	border: 5px solid #ff6666;
	display: inline;
	float: left;
	margin-top: 50px;
	padding: 100px 100px 130px;
	text-align: center;
	width: 100%;
}

#aa-error .aa-error-area h2 {
	border-bottom: 3px solid #0091ff;
	display: inline-block;
	font-size: 150px;
	line-height: 150px;
	margin-bottom: 30px;
	text-shadow: 0 2px 2px #ddd;
}

#aa-error .aa-error-area span {
	color: #000;
	display: block;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	text-shadow: 1px 1px 3px #ddd;
}

#aa-error .aa-error-area p {
	font-size: 18px;
}

#aa-error .aa-error-area a {
	border: 1px solid #ccc;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;
	margin-top: 30px;
	padding: 10px 15px;
	text-transform: uppercase;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#aa-error .aa-error-area a:hover,
#aa-error .aa-error-area a:focus {
	color: #0091ff;
	border-color: #0091ff;
}

/*==================
 FOOTER SECTION
====================*/
#aa-footer {
	background-color: #222;
	display: inline;
	float: left;
	width: 100%;
}

#aa-footer .aa-footer-top {
	display: inline;
	float: left;
	padding: 50px 0;
	width: 100%;
	min-height: 100px;
}

#aa-footer .aa-footer-top .aa-footer-top-area {
	display: inline;
	float: left;
	width: 100%;
}

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget {
	display: block;
}

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget h3 {
	color: #fff;
}

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a {
	color: #888;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:hover,
#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-nav li a:focus {
	color: #fff;
}

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p {
	margin-bottom: 5px;
	color: #888;
}

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget address p span {
	margin-right: 5px;
}

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a {
	border: 1px solid #888;
	color: #888;
	display: inline-block;
	font-size: 18px;
	margin-right: 8px;
	padding: 2px 0;
	text-align: center;
	width: 35px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#aa-footer .aa-footer-top .aa-footer-top-area .aa-footer-widget .aa-footer-social a:hover {
	color: #fff;
	border-color: #fff;
}

#aa-footer .aa-footer-bottom {
	border-top: 1px solid #333;
	display: inline;
	float: left;
	padding: 15px 0;
	width: 100%;
}

#aa-footer .aa-footer-bottom .aa-footer-bottom-area {
	display: inline;
	float: left;
	width: 100%;
}

#aa-footer .aa-footer-bottom .aa-footer-bottom-area>p {
	color: #888;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 0;
}

#aa-footer .aa-footer-bottom .aa-footer-bottom-area>p a {
	color: #888;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#aa-footer .aa-footer-bottom .aa-footer-bottom-area>p a:hover,
#aa-footer .aa-footer-bottom .aa-footer-bottom-area>p a:focus {
	color: #0091ff;
}

#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment {
	float: right;
}

#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment span {
	color: #888;
	margin-left: 8px;
}

#aa-footer .aa-footer-bottom .aa-footer-bottom-area .aa-footer-payment span:hover {
	color: #fff;
}
