/* BASE - Base tyles, Variables, Mixins, etc. */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #ffffff;
	font-family: "Open Sans", sans-serif;
	color: #333;
	font-size: 16px;
	overflow-x: hidden;
}

/* MODULES - Individual site components */
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}

h2 {
	color: #0091ff;
	font-size: 30px;
	font-weight: 700;
	line-height: 40px;
	margin: 0;
	padding-bottom: 10px;
}

img {
	border: none;
}

/* LOADING */
#wpf-loader-two {
	background-color: #0091ff;
	height: 100%;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
}

#wpf-loader-two .wpf-loader-two-inner {
	border: 2px solid #fff;
	border-radius: 50%;
	height: 100px;
	left: 46%;
	position: absolute;
	top: 40%;
	width: 100px;
	text-align: center;
}

#wpf-loader-two .wpf-loader-two-inner:before {
	background: #0091ff;
	content: "";
	height: 57%;
	left: -204px;
	position: absolute;
	top: -5px;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	width: 200px;
	-webkit-animation-name: loader-two-before-transition;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-name: loader-two-before-transition;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#wpf-loader-two .wpf-loader-two-inner:after {
	background: #0091ff;
	content: "";
	height: 57%;
	left: 104%;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	width: 200px;
	-webkit-animation-name: loader-two-after-transition;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-name: loader-two-after-transition;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

#wpf-loader-two .wpf-loader-two-inner span {
	color: #fff;
	display: inline-block;
	margin-top: 42%;
}

/*Preloader*/
@-webkit-keyframes loader-two-before-transition {
	50% {
		left: -154px;
	}
	100% {
		left: -97px;
	}
}

@keyframes loader-two-before-transition {
	50% {
		left: -154px;
	}
	100% {
		left: -97px;
	}
}

@-webkit-keyframes loader-two-after-transition {
	50% {
		left: 54px;
	}
	100% {
		left: -4px;
	}
}

@keyframes loader-two-after-transition {
	50% {
		left: 54px;
	}
	100% {
		left: -4px;
	}
}

/* HEADER */

/* START HEADER TOP */

#header {
	position: fixed;
	z-index: 10;
	width: 100%;
}

#header .header-top {
	width: 100%;
	height: 31px;
	font-size: 12px;
	background-color: #F3F4F5;
}

#header .header-top .header-top-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header .header-top .header-top-left {
	display: flex;
}

#header .header-top .header-top-left .aplication {
	margin-top: 6px;
}

#header .header-top .header-top-left .aplication p img {
	margin-right: 10px;
}

#header .header-top .header-top-left .aplication p a:hover {
	color: #0091ff;
}

#header .header-top .header-top-left .language a {
	font-size: 12px;
}

#header .header-top .header-top-left .language .btn img {
	display: inline;
	height: 10px;
	margin-right: 5px;
	margin-top: -2px;
	width: 12px;
}

#header .header-top .header-top-left .language .dropdown-menu {
	border-radius: 0;
	min-width: 110px;
}

#header .header-top .header-top-left .language .dropdown-menu a img {
	height: 10px;
	margin-right: 5px;
	margin-top: -2px;
	width: 12px;
}

#header .header-top .header-top-left .language .dropdown-menu:after,
#header .header-top .header-top-left .language .dropdown-menu:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#header .header-top .header-top-left .language .dropdown-menu:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 6px;
	margin-left: 0px;
}

#header .header-top .header-top-left .language .dropdown-menu:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #ddd;
	border-width: 8px;
	margin-left: -2px;
}

#header .header-top .header-top-right .head-top-nav-right {
	display: flex;
}

#header .header-top .header-top-right .head-top-nav-right li a {
	color: #333;
	padding: 7px 8px;
}

#header .header-top .header-top-right .head-top-nav-right li a:hover {
	color: #0091ff;
}

/* END HEADER TOP */

#header .header-bottom {
	width: 100%;
	height: 80px;
	background-color: #fff;
	padding: 20px 0;
	box-shadow: 0 5px 5px 0 #cecece;
}

#header .header-bottom .header-bottom-area {
	display: flex;
}

#header .header-bottom .header-bottom-area .logo a img {
	width: 153px;
	height: 39px;
}

#header .header-bottom .header-bottom-area .search-box {
	display: grid;
	grid-template-columns: 20fr auto;
	grid-template-rows: auto;
	width: 100%;
	margin-left: 20px;
}

#header .header-bottom .header-bottom-area .search-box input[type="text"] {
	border: 1px solid #ddd;
	color: #555;
	font-size: 12px;
	font-family: "Raleway", sans-serif;
	height: 30px;
	padding: 10px 55px 10px 10px;
	outline: none;
	border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	-moz-border-radius: 10px 0 0 10px;
	-ms-border-radius: 10px 0 0 10px;
	-o-border-radius: 10px 0 0 10px;
}

#header .header-bottom .header-bottom-area .search-box .navbar-nav {
	display: flex;
}

#header .header-bottom .header-bottom-area .search-box .navbar-nav li a {
	color: #5f5f5fde;
	font-size: 12px;
	padding: 3px 15px 3px 3px;
}

#header .header-bottom .header-bottom-area .search-box .navbar-nav li a:hover {
	color: #0091ff;
	font-weight: 500;
}

#header .header-bottom .header-bottom-area button {
	background-color: #0091ff;
	border: medium none;
	color: #fff;
	height: 30px;
	width: 40px;
	border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-ms-border-radius: 0 10px 10px 0;
	-o-border-radius: 0 10px 10px 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
}

#header .header-bottom .header-bottom-area button:hover {
	opacity: 0.8;
}

.header-bottom .nav-icon {
	display: flex;
	margin-top: 3px;
	margin-left: 10px;
}

.header-bottom .nav-icon .cartbox2 .cart-link2 i {
	color: #0091FF;
	font-size: 16px;
	width: 40px;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.header-bottom .nav-icon .cartbox2 .cart-link2:hover {
	/* background-color: #131313; */
	opacity: 0.8;
}

.header-bottom .nav-icon .user-icon .user-icon-link i {
	display: none;
}

/* BTN LOGIN & REGISTER */

#header .header-bottom .nav-icon .pembatas {
	width: 0;
	height: 25px;
	border-left: 1px solid #0091ff;
	margin: 0 20px;
}

#header .header-bottom .nav-icon .login-btn {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #0091ff;
	padding: 5px 10px;
	border: 1px solid #0091ff;
	margin-right: 5px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

#header .header-bottom .nav-icon .login-btn:hover {
	opacity: 0.8;
}

#header .header-bottom .nav-icon .register-btn {
	font-size: 12px;
	font-weight: bold;
	color: white;
	padding: 6px 12px;
	background-color: #0091ff;
	text-align: center;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

#header .header-bottom .nav-icon .register-btn:hover {
	opacity: 0.7;
}

/* ------------------------------- */
/* CART BOX BAGIAN SESUDAH LOGIN */
/* ------------------------------- */

.header-bottom .cartbox .cart-link {
	color: #0091FF;
	font-size: 18px;
	margin: 0 10px;
}

.cartbox-summary {
	background-color: #fff;
	border: 1px solid #0091FF;
	display: none;
	padding: 20px;
	position: absolute;
	top: 35px;
	margin-left: -100px;
	width: 300px;
	z-index: 9999;
}

.cartbox:hover .cartbox-summary {
	display: block;
}

.nav-icon .cartbox .cartbox-summary .cartbox-list {
	font-size: 14px;
	font-weight: bold;
}

.nav-icon .cartbox .cartbox-summary .cartbox-list a {
	color: #0091ff;
	margin-left: 70px;
}

.nav-icon .cartbox .cartbox-summary ul li {
	border-bottom: 1px solid #e2e2e2;
	display: block;
	float: left;
	margin-bottom: 15px;
	padding-bottom: 15px;
	width: 100%;
	position: relative;
}

.nav-icon .cartbox .cartbox-summary ul li:last-child {
	border: none;
	margin-bottom: 0px;
}

.nav-icon .cartbox .cartbox-summary ul li .cartbox-img {
	float: left;
	width: 35px;
	height: 48px;
}

.nav-icon .cartbox .cartbox-summary ul li .cartbox-img img {
	width: 100%;
	height: 100%;
}

.nav-icon .cartbox .cartbox-summary ul li .cartbox-info {
	float: left;
	margin-left: 10px;
	padding: 0 20px;
}

.nav-icon .cartbox .cartbox-summary ul li .cartbox-info h4 {
	font-size: 12px;
	color: #333;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: -50px;
	margin-left: 20px;
}

.nav-icon .cartbox .cartbox-summary ul li .cartbox-info p {
	font-size: 10px;
	color: 5f5f5fde;
	margin-left: 20px;
}

.nav-icon .cartbox .cartbox-summary ul li .cartbox-info .price {
	color: #0091ff;
	font-weight: bold;
	font-size: 12px;
	margin-left: 140px;
	margin-top: -27px;
}

.nav-icon .cartbox .cartbox-summary .cartbox-checkout {
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #0091ff;
	color: #0091ff;
	padding: 5px 15px;
	margin-left: 80px;
	border-radius: 5px;
}

.nav-icon .cartbox .cartbox-summary .cartbox-checkout:hover {
	background-color: #0091ff;
	color: #fff;
}

.header-bottom .wish-link {
	color: #0091FF;
	font-size: 18px;
	margin-left: 10px;
}

.header-bottom .notif-link {
	color: #0091FF;
	font-size: 18px;
	margin-left: 20px;
}

.profile {
	display: flex;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.header-bottom .profile-pic {
	width: 26px;
	height: 26px;
	border-radius: 50%
}

.dropdown-profile {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	margin-top: 35px;
	margin-left: -60px;
	border: 1px solid #0091FF;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-profile a {
	color: #333;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	font-size: 12px;
}

.dropdown-profile a:hover {
	background-color: #0091ff;
	color: #fff;
}

.profile:hover .dropdown-profile {
	display: block;
}

/*------------------------------------------------------------------
    Content
-------------------------------------------------------------------*/

/*scrol to top*/
.scrollToTop {
	background-color: #0091ff;
	border: 1px solid #0091ff;
	bottom: 60px;
	color: #fff;
	display: none;
	font-size: 23px;
	height: 50px;
	line-height: 45px;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	width: 50px;
	z-index: 999;
}

.scrollToTop:hover,
.scrollToTop:focus {
	background-color: #FFF;
	color: #0091ff;
	text-decoration: none;
	outline: none;
}

.scrollToTop {
	font-size: 20px;
	height: 40px;
	line-height: 35px;
	width: 40px;
}

/*==================
	SLIDER SECTION
====================*/
#slider {
	padding-top: 130px;
	z-index: 1;
}

#slider .seq .seq-nav .seq-next {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 1;
}

#slider .seq .seq-nav .seq-prev {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	z-index: 1;
}

#slider .seq .seq-nav .seq-next:hover {
	background-color: rgba(173, 216, 230, 0);
}

#slider .seq .seq-nav .seq-prev:hover {
	background-color: rgba(173, 216, 230, 0);
}

/*==================
	KATEGORI SECTION
====================*/
#product {
	width: 85%;
	background-color: #fff;
	margin: 30px auto;
	padding: 0 20px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px 0 #cecece, -1px -1px 3px 0 #cecece;
	-webkit-box-shadow: 5px 5px 5px 0 #cecece, -1px -1px 3px 0 #cecece;
}

#product .judul-menu {
	display: flex;
	justify-content: space-between;
	margin: 0 10px 0 10px;
	font-family: "Kanit", sans-serif;
}

#product .judul-menu .heading {
	font-size: 24px;
}

#product .judul-menu .subheading a {
	border: none;
	font-size: 16px;
}

#product .judul-menu .subheading a:hover {
	color: #0091ff;
}

#product .product-catg {
	display: flex;
	justify-content: space-around;
	align-content: flex-start;
	padding: 20px 0 20px 0;
}

#product .product-catg img {
	height: 173px;
	width: 160px;
	border-radius: 15px;
	border: 1px solid #cecece;
}

/*==================
	PEMBATAS SECTION
====================*/
.pembatas-section {
	margin: auto;
	width: 85%;
	height: 1px;
	background-color: #cecece;
}

/*==================
	POPULER SECTION
====================*/
#populer {
	width: 85%;
	margin: 0 auto;
	background-color: #fff;
}

.judul-menu {
	display: flex;
}

.judul-menu li {
	border: none;
	display: inline-block;
	padding-top: 21px;
	font-family: "Kanit", sans-serif;
}

.judul-menu .heading2 {
	padding-left: 10px;
}

.judul-menu .heading2 a {
	border: none;
	font-size: 24px;
}

.judul-menu .heading2 a:hover {
	color: #212e38;
}

.judul-menu .subheading2 {
	padding-right: 10px;
	margin-left: auto;
}

.judul-menu .subheading2 a {
	border: none;
	font-size: 16px;
}

.judul-menu .subheading2 a:hover {
	color: #0091ff;
}

.kategori {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: flex-start;
}

.card-populer {
	font-family: 'Roboto';
	/* width: 165px; */
	width: 15%;
	margin: 10px 11px 0 0;
	overflow: hidden;
	text-decoration: none;
	background-color: #fff;
	box-shadow: 2px 3px 5px 0 #cecece, 0 0 1px 0 #cecece;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.card-populer a:hover {
	color: #131313;
}

.card-populer .card-img {
	border-radius: 15px 15px 0 0;
}

.card-populer .card-name {
	font-size: 12px;
	font-weight: 400;
	padding: 0 7px;
}

.card-populer .card-price {
	font-size: 14px;
	font-weight: 700;
	padding: 0 7px;
}

.card-populer .card-disc {
	padding: 0 7px;
	display: flex;
}

.card-populer .card-disc-percent {
	width: 23px;
	height: 17px;
	margin-right: 3px;
	background-color: rgba(236, 53, 53, 0.22);
}

.card-populer .card-disc .card-disc-percent2 {
	font-size: 10px;
	font-weight: bold;
	color: #EC3535;
	padding-top: 1.5px;
	text-align: center;
}

.card-populer .card-disc-price {
	font-size: 11px;
	color: #cecece;
	text-decoration: line-through;
}

.card-populer .card-rating {
	padding: 0 7px;
	display: flex;
}

.card-populer .card-rating-star {
	width: 12.10px;
	height: 12px;
	margin-right: 2px;
}

.card-populer .card-rating-sold {
	color: #131313;
	font-size: 10px;
	font-weight: 500;
}

.card-populer .card-button {
	margin-bottom: 0;
	display: grid;
	grid-template-columns: auto auto;
	height: 30px;
}

.card-populer .card-button-wishlist {
	color: #fff;
	background-color: #ff8590;
	border: none;
	font-size: 15px;
}

.card-populer .card-button-wishlist:hover {
	background-color: #fb717d;
}

.card-populer .card-button-addcart {
	color: #fff;
	background-color: #94ebcb;
	border: none;
	font-size: 15px;
}

.card-populer .card-button-addcart:hover {
	background-color: #7ae9c0;
}

/*==================
	PEMBATAS SECTION
==================== */
.pembatas-section2 {
	margin: 30px auto;
	width: 85%;
	height: 1px;
	background-color: #cecece;
}

/* ======================================
	BUTTON LIHAT LAINNYA DI MOBILE DEVICE 
========================================= */
.btn-lainnya button {
	display: none;
}

/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/
.footer-area {
	width: 1349px;
	margin-top: 30px;
	background-color: #0091ff;
}

.footer-area .layanan {
	margin-bottom: 20px;
}

.footer-area h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.footer-area a {
	font-size: 14px;
	color: white;
	margin: 0;
	padding-bottom: 5px;
}

.footer-area .row {
	padding-top: 11px;
}

.footer-area .customercare {
	margin-left: 80px;
	width: 280px;
}

.footer-area .info {
	margin-left: 70px;
}

.footer-area .ikutikami {
	margin-left: 50px;
	display: inline;
}

.footer-area .ikutikami img {
	width: 30px;
	height: 32px;
	margin-right: 2px;
}

.footer-area .ikutikami .download {
	width: 120px;
	height: 37px;
}

.footer-area .ikutikami .download2 {
	width: 120px;
	height: 37px;
	margin-left: 130px;
	margin-top: -60px;
}

.footer-area-checkout {
	position: absolute;
	top: 750px;
	width: 1349px;
	height: 320px;
	background-color: #0091ff;
}

.footer-area-checkout h3 {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}

.footer-area-checkout a {
	font-size: 14px;
	color: white;
	margin: 0;
	padding-bottom: 5px;
}

.footer-area-checkout .row {
	padding-top: 11px;
}

.footer-area-checkout .customercare {
	margin-left: 80px;
	width: 280px;
}

.footer-area-checkout .info {
	margin-left: 70px;
}

.footer-area-checkout .ikutikami {
	margin-left: 50px;
	display: inline;
}

.footer-area-checkout .ikutikami img {
	width: 30px;
	height: 32px;
	margin-right: 2px;
}

.footer-area-checkout .ikutikami .download {
	width: 120px;
	height: 37px;
}

.footer-area-checkout .ikutikami .download2 {
	width: 120px;
	height: 37px;
	margin-left: 130px;
	margin-top: -60px;
}

/* Copyright */
.copyright {
	height: 40px;
	background-color: white;
	color: #121212;
	text-align: center;
	padding-left: -100px;
}

.copyright p {
	font-size: 14px;
	padding-top: 8px;
}

.copyright-checkout {
	position: absolute;
	top: 1050px;
	width: 1349px;
	height: 40px;
	background-color: white;
	color: #6A4B39;
	text-align: center;
}

.copyright-checkout p {
	font-size: 14px;
	padding-top: 8px;
}