/* Responsive Area For Home Page Before Login */

@media screen and (max-width: 600px) {
    body {
        background-color: #EFEFEF;
    }
    
    /* Style Responsive For Header */

    #header .header-top,
    #header .header-bottom .header-bottom-area .logo,
    #header .header-bottom .header-bottom-area .search-box .navbar-nav,
    #header .header-bottom .header-bottom-area .nav-icon .pembatas,
    #header .header-bottom .header-bottom-area .nav-icon .login,
    #header .header-bottom .header-bottom-area .nav-icon .register {
        display: none;
    }

    #header .header-bottom {
        all: initial;
        width: 100%;
        height: 60px;
    }

    #header .header-bottom .header-bottom-area {
        margin-top: 10px;
        justify-content: center;
    }
    
    #header .header-bottom .header-bottom-area .search-box {
        all: initial;
        width: 70%;
        display: flex;
        background-color: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    #header .header-bottom .header-bottom-area .search-box input[type="text"] {
        order: 2;
        outline: none;
        border: none;
        padding: 10px 55px 10px 5px;
        border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -ms-border-radius: 0 5px 5px 0;
        -o-border-radius: 0 5px 5px 0;
}   

    ::placeholder {
        color: #0091FF;
    }

    #header .header-bottom .header-bottom-area button {
        order: 1;
        width: 15px;
        height: 30px;
        font-size: 10px;
        margin-left: 5px;
        background-color: #fff;
        color: #a6a6a6;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    #header .header-bottom .header-bottom-area button:hover {
        opacity: 1;
    }

    .header-bottom .nav-icon {
        all: initial;
        margin-top: 8px;
        display: flex;
    }

    .header-bottom .nav-icon .cartbox2 .cart-link2 i {
        color: white;
    }

    .header-bottom .nav-icon .cartbox2 .cart-link2:hover {
        opacity: 1;
    }

    .header-bottom .nav-icon .user-icon .user-icon-link i {
        display: contents;
        color: white;
        font-size: 16px;
        width: 40px;
    }

    /* Style Responsive For Slider */

    #slider {
        all: initial;
    }

    .seq {
        width: 100%;
    }

    .seq .seq-next,
    .seq .seq-prev {
        display: none;
    }

    #slider .seq-canvas .seq-model picture img {
        width: 100%;
        height: 60%;
    }

    /* Style Responsive For Kategori Pilihan */

    #product {
        /* all: initial; */
        width: 100%;
        height: 100px;
        padding: none;
        box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    #product .judul-menu {
        margin: 0 5px 0 5px;
    }

    #product .judul-menu .heading {
        text-transform: uppercase;
        color: #0091FF;
        font-size: 10px;
    }

    #product .judul-menu .subheading a {
        color: #B7B7B7;
        font-size: 8px;
    }

    #product .judul-menu .subheading a:hover {

    }

    #product .product-catg {

    }

    #product .product-catg img {
        width: 60px;
        height: 70px;
        padding: 10px;
        border-radius: 0;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    #product .product-catg img:nth-child(3),
    #product .product-catg img:nth-child(4),
    #product .product-catg img:nth-child(5),
    #product .product-catg img:nth-child(6) {
        display: none;
    }

    .pembatas-section {
        display: none;
    }
}