/* Responsive Area For Home Page Before Login */

@media screen and (max-width: 600px) {
    body {
        background-color: #EFEFEF;
    }

    /* Style Responsive For Loading */
    #wpf-loader-two .wpf-loader-two-inner {
        left: 37%;
        top: 40%;
    }
    
    /* Style Responsive For Header */
    #header {
        position: absolute;
    }

    #header .header-top,
    #header .header-bottom .header-bottom-area .logo,
    #header .header-bottom .header-bottom-area .search-box .navbar-nav,
    #header .header-bottom .header-bottom-area .nav-icon .pembatas,
    #header .header-bottom .header-bottom-area .nav-icon .login,
    #header .header-bottom .header-bottom-area .nav-icon .register,
    #header .header-bottom .header-bottom-area .nav-icon .cartbox .cartbox-summary,
    #header .header-bottom .header-bottom-area .nav-icon .wish-icon, 
    #header .header-bottom .header-bottom-area .nav-icon .notif-icon,
    #header .header-bottom .header-bottom-area .nav-icon .profile {
        display: none;
    }

    #header .header-bottom {
        all: initial;
        width: 100%;
        height: 60px;
    }

    #header .header-bottom .header-bottom-area {
        margin-top: 10px;
        justify-content: center;
    }
    
    #header .header-bottom .header-bottom-area .search-box {
        all: initial;
        width: 70%;
        display: flex;
        background-color: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    #header .header-bottom .header-bottom-area .search-box input[type="text"] {
        order: 2;
        outline: none;
        border: none;
        padding: 10px 55px 10px 5px;
        border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -ms-border-radius: 0 5px 5px 0;
        -o-border-radius: 0 5px 5px 0;
}   

    ::placeholder {
        color: #0091FF;
    }

    #header .header-bottom .header-bottom-area button {
        order: 1;
        width: 15px;
        height: 30px;
        font-size: 10px;
        margin-left: 5px;
        background-color: #fff;
        color: #a6a6a6;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    #header .header-bottom .header-bottom-area button:hover {
        opacity: 1;
    }

    .header-bottom .nav-icon {
        all: initial;
        margin-top: 8px;
        display: flex;
    }

    .header-bottom .nav-icon .cartbox .cart-link {
        margin-left: 10px;
        color: white;
    }

    .header-bottom .nav-icon .cartbox2 .cart-link2 i {
        color: white;
    }

    .header-bottom .nav-icon .cartbox2 .cart-link2:hover {
        opacity: 1;
    }

    .header-bottom .nav-icon .user-icon .user-icon-link i {
        display: contents;
        color: white;
        font-size: 16px;
        width: 40px;
    }

    .scrollToTop {
        display: none;
    }

    /* Style Responsive For Slider */

    #slider {
        all: initial;
    }

    .seq {
        /* all: initial; */
        width: 100%;
        /* height: 10px; */
        /* background-size: none; */
    }

    .seq .seq-screen,
    .seq .seq-canvas,
    .seq .seq-canvas>* {
        all: initial;
        margin-top: 10px;
        padding: 0;
        height: 300px;
        width: 100%;
        list-style: none;
    }

    .seq .seq-next,
    .seq .seq-prev {
        display: none;
    }

    #slider .seq-canvas .seq-model picture img {
        width: 100%;
        height: 60%;
    }

    /* Style Responsive For Kategori Pilihan */

    #product {
        width: 100%;
        background-color: #fff;
        margin: 45% 0 10px;
        padding: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        box-shadow: none;
    }

    #product .judul-menu {
        margin: 0 10px 0 10px;
    }

    #product .judul-menu .heading {
        text-transform: uppercase;
        color: #0091FF;
        font-size: 14px;
    }

    #product .judul-menu .subheading a {
        color: #B7B7B7;
        font-size: 12px;
    }

    #product .product-catg img {
        width: 60px;
        height: 70px;
        margin-left: 10px;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    #product .product-catg img:nth-child(6) {
        display: none;
    }

    /* ==================
        Garis Pembatas 1
    ===================== */

    .pembatas-section {
        display: none;
    }

    /* ==================
        Populer Items
    ===================== */

    #populer {
        width: 100%;
        padding-bottom: 20px;
        background-color: #fff;
    }

    .judul-menu .heading2 a {
        text-transform: uppercase;
        color: #0091FF;
        font-size: 14px;
    }

    .judul-menu .subheading2 a {
        color: #B7B7B7;
        font-size: 12px;
    }

    .card-populer {
        width: 30%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .card-populer a {
        padding-bottom: 20px;
    }

    .card-populer .card-img {
        width: 120px;
        height: 120px;
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        -o-border-radius: 10px 10px 0 0;
    }
    
    .card-populer .card-name {
        font-size: 8px;
    }
    
    .card-populer .card-price {
        font-size: 8px;
        margin-top: -5px;
    }
    
    .card-populer .card-disc {
        margin-top: -5px;
    }
    
    .card-populer .card-disc-percent {
        width: 18px;
        height: 12px;
        margin-right: 3px;
    }
    
    .card-populer .card-disc .card-disc-percent2 {
        font-size: 6px;
        padding-top: 1.5px;
        text-align: center;
    }
    
    .card-populer .card-disc-price {
        font-size: 6px;
        padding-top: 2px;
    }
    
    .card-populer .card-rating-star {
        width: 6.10px;
        height: 6px;
    }
    
    .card-populer .card-rating-sold {
        font-size: 6px;
    }
    
    .card-populer .card-button {
        display: none;
    }

    /* ==================
        Garis Pembatas 2
    ===================== */

    .pembatas-section2 {
        display: none;
    }
    
    /* ==================
        Button Lainnya
    ===================== */

    .btn-lainnya button {
        display: block;
        width: 85%;
        text-align: center;
        font-size: 10px;
        font-family: 'Open Sans', sans-serif;
        color: #0091FF;
        background-color: #fff;
        border: 1px solid #0091FF;
        margin: 20px auto 50px;
        padding: 10px 0;
    }

    .footer-area {
        display: none;
    }
}