/* Responsive Area For Home Page Before Login */

@media screen and (max-width: 600px) {
    #header .header-top,
    #header .header-bottom .header-bottom-area .logo,
    #header .header-bottom .header-bottom-area .search-box .navbar-nav,
    #header .header-bottom .header-bottom-area .nav-icon .pembatas,
    #header .header-bottom .header-bottom-area .nav-icon .login,
    #header .header-bottom .header-bottom-area .nav-icon .register {
        display: none;
    }

    #header .header-bottom {
        height: 60px;
        background-color: #0091ff;
        box-shadow: none;
        display: flex;
        align-content: center;
        align-items: center;
    }
    
    #header .header-bottom .header-bottom-area .search-box {
        display: flex;
        background-color: white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    #header .header-bottom .header-bottom-area .search-box input[type="text"] {
        order: 2;
        outline: none;
        border: none;
        padding: 10px 55px 10px 5px;
        border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -ms-border-radius: 0 5px 5px 0;
        -o-border-radius: 0 5px 5px 0;
}   

    #header .header-bottom .header-bottom-area button {
        order: 1;
        width: 15px;
        height: 30px;
        font-size: 10px;
        margin-left: 5px;
        background-color: #fff;
        color: #a6a6a6;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    #header .header-bottom .header-bottom-area button:hover {
        opacity: 1;
    }

    .header-bottom .nav-icon .cartbox2 .cart-link2 i {
        color: white;
    }

    .header-bottom .nav-icon .cartbox2 .cart-link2:hover {
        background-color: #0091ff;
        opacity: 1;
    }

    .header-bottom .nav-icon .user-icon .user-icon-link i {
        display: contents;
        color: white;
        font-size: 16px;
        width: 40px;
        text-align: center;
    }

    #product {
        width: 100%;
        padding: 0;
        background-color: none;
        box-shadow: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}

    #product .product-catg {
        background-image: linear-gradient(to right, lightblue , rgb(118, 118, 249));
    }

    #product .product-catg img {
        height: 30%;
        width: 30%;
        padding: 10px;
        border-radius: 0;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}

    #product .product-catg img:nth-child(3),
    #product .product-catg img:nth-child(4),
    #product .product-catg img:nth-child(5),
    #product .product-catg img:nth-child(6) {
        display: none;
    }
}